.App {
  color: #FFF;
}

.App-footer {
  text-align: right;
  padding: 24px;
  margin: 0 0 150px 0;
}


.App-footer a {
  color: #FFF;
}

.App-header {
  color: #fca412;
  padding: 0 24px;
  text-align: center;
}

.App-container {
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  margin: 0 auto;
  max-width: 600px;
  padding: 24px;
}
